@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;
<div id=Header>
  <h1 id= HeaderText><img src='/img/logo.png' width="70px" /> Welcome to Eau Claire's Salon <img src='/img/logo.png' width="70px" /> </h1>
</div>
<div id=Nav>
  <p>@Html.ActionLink("Show all Stylists", "Index")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <img src='/img/logo.png' width="70px" />
</div>
<div id=Form>
  <h3 id=HeaderText>Add a new Stylist</h3>
  @using (Html.BeginForm())
  {
    <p>Sylist Name: | @Html.TextBoxFor(model => model.StylistName)</p>
    <input type="submit" value="Add Stylist" />
  }
</div>
