@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;

<h4>Add a new Stylist</h4>
@using (Html.BeginForm())
{
  <p>Sylist Name: | @Html.TextBoxFor(model => model.StylistName)</p>
  <input type="submit" value="Add Stylist" />
}
<p>@Html.ActionLink("Show all Stylists", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>