@{
  Layout = "_Layout";
}
<div id=Header>
<h1 id= HeaderText>Welcome to Eau Claire's Salon</h1>
</div>
<div id=HomeLinks>
<p>@Html.ActionLink("See all Clients", "Index", "Clients")</p> 
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
</div>
