@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.ClientName): @Html.DisplayFor(model => model.ClientName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>