@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div id=Header>
  <h1 id= HeaderText><img src='/img/logo.png' width="70px" /> Welcome to Eau Claire's Salon <img src='/img/logo.png' width="70px" /> </h1>
</div>
<div id=Nav>
  <p>@Html.ActionLink("Back to List", "Index")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <img src='/img/logo.png' width="70px" />
</div>
<div id=StylistList>
<h2>Are you sure you want to delete this Client?</h2>

Client: @Html.DisplayFor(model => model.ClientName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
</div>